language: node_js
node_js:
  - 12.19

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.10
  - export PATH="$HOME/.yarn/bin:$PATH"

deploy:
  skip_cleanup: true
  provider: script
  script: npm run deploy
  on:
    branch: master
    tags: true

env:
  EXTENSION_ID=ockddcaogdonfmcfhdblbflchnjgiilc
  WEB_EXT_ID={d6ce8cb9-5674-4303-9f7d-232923293a24}
