/* Overrides */


/** Global */

/* Move "Pin" button and quick navigation */
#consoleNavHeader > #awsgnav > #shortcutMenuContent {
	z-index: 2 !important;
	top: 80px !important;
}

#awsgnav .nav-menu-content {
  z-index: 9999 !important;
}

#awsgnav > #shortcutMenuContent > #nav-shortcuts-section {
  height: 600px;
  overflow-y: scroll;
}

#consoleNavHeader > #awsgnav > #nav-menubar #nav-shortcutBar {
  width: 100% !important;
  background: #24292E;
  overflow-x: auto !important;
  margin: 0 0 4px !important;
}

#consoleNavHeader > #awsgnav > #nav-menubar #nav-shortcutBar::-webkit-scrollbar {
  display: none;
}

#b > #h {
  height: auto !important;
}

/** Show "Sign Out" button */
/** Show "Documentation" button */
/** Show "Feedback" button */
/** Show "Language Selector" button */
#nav-menu-right .nav-elt.nav-menu {
  position: relative !important;
  left: 0 !important;
  outline: none;
}

#consoleNavHeader > #awsgnav > #nav-menubar #nav-menu-right #aws-console-logout.ra-ssob,
#consoleNavHeader > #awsgnav > #nav-menubar #nav-menu-right #aws-documentation.ra-sdb,
#consoleNavHeader > #awsgnav > #nav-menubar #nav-menu-right #feedback.ra-fb,
#consoleNavHeader > #awsgnav > #nav-menubar #nav-menu-right #awsc-language-selector.ra-lsb {
  padding: 13px 12px 9px;
  color: #EEEEEE;
  font-size: 13px !important;
}

#consoleNavHeader > #awsgnav > #nav-menubar #nav-menu-right #feedback.ra-fb > .awsc-footer-icon,
#consoleNavHeader > #awsgnav > #nav-menubar #nav-menu-right #awsc-language-selector.ra-lsb > .awsc-footer-icon {
  top: auto !important;
}


/* Use system fonts */
body.ra-usf {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

/* Hide "AWS Smile" logo */
#awsgnav > #nav-menubar #nav-servicesMenu.ra-hAL {
  padding-left: 48px;
}

/** Show "Language Selector" button */
#awsgnav > #awsc-language-selector-content.ra-lsb {
  left: unset !important;
  bottom: unset !important;
  top: 40px;
  right: 131.781px;
  z-index: 9 !important;
  border-radius: 4px;
  border-style: solid;
}

#cc.ra-hF {
  padding-bottom: 0 !important;
}

/*body.awsui-mezzanine-overrides #awsc-language-selector-content {
  z-index: 99999;
}*/

/** Keyboard shortcuts */

#refined-aws-keyboard + .overlay {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0.6;
}

#refined-aws-keyboard {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFF;
  z-index: 9999999;
  border-radius: 8px;
  overflow-y: scroll;
  min-height: 420px;
  height: 640px;
  max-height: 800px;
}

#refined-aws-keyboard .refined-aws-container {
  width: 572px;
  min-width: 448px;
}

#refined-aws-keyboard kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  line-height: 10px;
  padding: 3px 5px;
  margin: 0 2px;
}

#refined-aws-keyboard h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  height: 50px;
  line-height: 50px;
  color: #1D2129;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#refined-aws-keyboard .refined-aws-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  vertical-align: middle;"
}

#refined-aws-keyboard .shortcuts {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  display: flex;
  font-size: 15px;
  margin: 0 24px;
  padding: 20px 0;
  justify-content: center;
}

#refined-aws-keyboard .shortcuts .shortcuts-container {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  width: 334px;
}

#refined-aws-keyboard .shortcuts .shortcuts-header {
  color: rgba(0, 0, 0, .40);
  display: inline-block;
  line-height: 1.28;
  vertical-align: middle;
  width: 162px;
}

#refined-aws-keyboard .shortcuts .shortcut-body {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  width: 334px;
  padding: 8px 0;
}

#refined-aws-keyboard .shortcuts .shortcut-body label {
  align-items: center;
  color: rgba(0, 0, 0, 1);
  display: flex;
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
  opacity: 0.8;
}

#refined-aws-keyboard .shortcuts .shortcut-body .shortcut-label {
  min-height: 16px;
  margin-right: 8px;
  min-width: 16px;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  display: flex;
  font-size: 15px;
  font-weight: normal;
  margin-left: 30px;
  width: 334px;
}
